[submodule "src/addons/cc"]
	path = src/addons/cc
	url = https://cnb.cool/miuda.ai/cc
[submodule "src/addons/wholesale"]
	path = src/addons/wholesale
	url = https://cnb.cool/miuda.ai/wholesale
[submodule "src/addons/ivr_editor"]
	path = src/addons/ivr_editor
	url = https://cnb.cool/miuda.ai/ivr_editor
[submodule "src/addons/telemetry"]
	path = src/addons/telemetry
	url = https://cnb.cool/miuda.ai/telemetry
[submodule "src/addons/voicemail"]
	path = src/addons/voicemail
	url = https://cnb.cool/miuda.ai/voicemail
