# A example config file
# mv config.toml.example config.toml
# cargo run . --bin rustpbx --conf config.toml

http_addr = "0.0.0.0:8080"
log_level = "info"
#log_file = "/tmp/rustpbx.log"
stun_server = "stun.l.google.com:19302"
recorder_path = "/tmp/recorders"
media_cache_path = "/tmp/mediacache"

[useragent]
addr="0.0.0.0"
udp_port=13050 # don't use 5060

[proxy]
modules = ["ban", "auth", "registrar", "cdr", "call"]
addr = "0.0.0.0"
udp_port = 5060
registrar_expires = 60

[proxy.user_backend]
type = "memory"
users = [
    { username = "test", password = "test", realm = "127.0.0.1" },
]
