# A example config file
# mv config.toml.example config.toml
# cargo run . --bin rustpbx --conf config.toml

http_addr = "0.0.0.0:8080"
log_level = "info"
#log_file = "/tmp/rustpbx.log"
stun_server = "stun.l.google.com:19302"
recorder_path = "/tmp/recorders"
media_cache_path = "/tmp/mediacache"

[ua]
addr="0.0.0.0"
udp_port=13050 # don't use 5060


[proxy]
modules = ["acl", "auth", "registrar", "call"]
addr = "0.0.0.0"
udp_port = 15060
registrar_expires = 60
ws_handler= "/ws"

# ACL rules
acl_rules = [
    "allow 10.0.0.0/8",
    "deny 0.123.4.0/16",
    "allow all",
    "deny all"
]

[ua.handler]
type = "webhook"
url = "http://localhost:8090/webhook"
method = "POST"


# MediaProxy configuration
[proxy.media_proxy]
mode = "nat_only"  # Options: "none", "nat_only", "all"
rtp_start_port = 20000
rtp_end_port = 30000
external_ip = "192.168.1.1"  # Set to your external IP
# force_proxy = ["192.168.1.100"]  # Optional: IP addresses to always proxy

[proxy.user_backend]
type = "memory"
users = [
    { username = "bob", password = "123456", realm = "127.0.0.1" },
    { username = "alice", password = "123456", realm = "127.0.0.1" },
]

[callrecord]
type = "local"
root = "/tmp/cdr"